# Ignore Compiled Packer
pack/nopack
# Ignore Binary Files on Tests
tests/*
!tests/*.*
!tests/**/
# Ignore Test Data
tests/data
# Ignore Generated List
icons.list
paths.list

# Ignore Generated Keymaps
keymap/output
