# Ignore Compiled Packer
pack/nopack
# Ignore Binary Files on Tests
tests/*
!tests/*.*
!tests/**/
*.exe
# Ignore Test Output
tests/data
tests/out*
# Ignore Generated List
cursors.list
icons.list
paths.list

# Ignore Generated Keymaps
keymap/output
